.page-title {
  font-size: 25px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
}

.post-item {
  margin-bottom: 25px;
}

.post-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
} 

.post-photo {
  margin-bottom: 20px;
  height: 187px;
  overflow: hidden;
}

.post-photo img {
  max-width: 100%;
  max-height: 187px;  
}

.post-details {
  
}

.post-details-name {
  font-size: 14px;
  font-weight: 700;
}

.agents-title {
  font-size: 22px;
}

.agents-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.agents-list-item {
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10px;
}

.agents-list-item.active {
  font-weight: 700
}